<!-- <h1>Welcome to Angular</h1>

<br>

<app-my-component></app-my-component>
<br>

<h1>Interpolation Example</h1>

<b>
  Nmae : {{name}}
  <br> Age : {{age}}
  <br> Email : <input type="text" value="{{email}}">
  <br>
</b>
<h1>Porperty Binding Example</h1>

Name : <input type="text" [value]="name">
<br>
Age : <input type="text" [value]="age">
<br>
Email : <input type="text" [value]="email">
<br>

<h1>Event Binding Examples</h1>
<button (click)="Changename()">button</button>
<br>
<button (click)="Changeage()">btn2</button>
<br>
<button (click)="Changeemail()">btn3</button>
<br>
<h1>Image Path</h1>
<img [src]="img" alt="" width="300" height="300">
<br><br>
<button (click)="Changeimage()">Changeimage</button>

<br>
<h1>Two Data Binding</h1>
<br>
<input type="text" [(ngModel)]="fname">
<br>
<p>Welcome {{fname}}</p>
<br>

<h1 [ngClass]="MyClass">Structure and Attribute directives</h1>
<br>
<button (click)="ChangeClass()">Change Class</button>
<br><br>
<button (click)="ChangeFlag()">Show and Hide div</button>

<br>
<br>
<div *ngIf="flag" [ngStyle]="Mystyle">
  <br>

  <ul>
    <li *ngFor="let vec of vehicle" (click)="setSelectedItem(vec)">{{vec}}</li>
  </ul>
  <br>
  <br>
  <b>You have Selected : {{selectedvec}}</b>
  <br>
  <div [ngSwitch]="selectedvec">
    <font color="green" *ngSwitchCase="'Twowheeler'">Bike</font>
    <font color="green" *ngSwitchCase="'Threewheeler'">Auto</font>
    <font color="green" *ngSwitchCase="'FourWheeler'">Car</font>
    <font color="green" *ngSwitchDefault>Invalid</font>
  </div>
  <br>
  <br>
  <button (click)="ChangeStyle()">Change Style</button>
</div>
-->
<!-- <table width="100%" align="center">
  <tr>
    <th><a routerLink="home">Home</a></th>
    <th><a routerLink="contact">Contact</a></th>
    <th><a routerLink="about">About</a></th>
  </tr>
</table>
<br>
<div>
  This is the space new component.
  <router-outlet></router-outlet>
</div>
<br>
<br> -->


<p>
  <app-home></app-home>
</p>
