body{
    background-image: url(image11.jfif);
    background-repeat: no-repeat;
    background-size: cover;
}
.div{
    /* border:2px solid black; */
    width:40%;
    height:50%;
    position:absolute;
    top:30%;
    left:30%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:35px;
    background-color: rgba(2, 2, 2, 0.349);
}
h2{
    font-family:'poppins',sans-serif;
    color:white;
    font-size:25px;
}
.t1{
    width:70%;
    height:35px;
    border:none;
    background-color: rgba(46, 41, 41, 0.027);
    color:white;
    border-bottom:2px solid white

}
.btn{
    width:70%;
    height:45px;
    font-size:20px;
    font-weight:bold;
    background-color: green;
    color:white;
    border-bottom: 2px solid white;
    border-right:2px solid white;
}
.btn:hover{
    border-top:2px solid white;
    border-left:2px solid white;
    border-bottom:0px;
    border-right:0px;
}
.image{
    border:2px solid black;
    width:100px;
    height:100px;
    margin-left: 46%;
    margin-top:17%;
    z-index: 1;
    border-radius:50%;
    background-color: rgba(255, 255, 255, 0);
}
.image img{
    width:100px;
    height:100px;
    border-radius:50%;
    background-color: rgba(255, 255, 255, 0);

}
.div2{
    color:white;
}