
.head{
    border:3px solid black;
    width:100%;
    height:15vh;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size:45px;
    color:red;
    background-color: white;
}
.head:hover{
    color:#08eeee;
    border:3px solid #08eeee;
    border-color: #08eeee;
}